<html>
  <head>
    <script type="text/javascript" src="../../protovis-d3.3.js"></script>
    <script type="text/javascript" src="../multiplot.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">
      var xs = pv.range(0, data[0].length),
          ys = pv.range(0, data.length),
          zs = pv.range(-5, 3, 1),
          w = 800, h = 800,
          x = pv.Scale.linear(xs).range(0, w),
          y = pv.Scale.linear(ys).range(0, h),
          colours = pv.Scale.linear(zs).range("#00f", "#000");

      var inputOrder = 'GLY ALA SER CYS VAL THR ILE PRO MET ASP ASN LEU LYS GLU GLN ARG HIS PHE TYR TRP'.split(/\s/);
      var outputOrder = ["ILE", "VAL", "LEU", "PHE", "CYS", "MET", "ALA", "GLY", "THR", "SER", "TRP", "TYR", "PRO", "HIS", "ASN", "GLN", "ASP", "GLU", "LYS", "ARG"];
      var order = pv.map(inputOrder, function(x) {
        for (var i=0; i<outputOrder.length; i++) {
          if (x == outputOrder[i]) {
            return i;
          }
        }
      });
      //data = pv.permute(data, order, function(l) pv.permute(l, order));
      var data2 = [];
      data.map(function(l, iy) {
        data2.push.apply(data2, l.map(function(k, ix) {
          return {x: xs[ix], y: ys[iy], z: k}
        }));
      });
      var vis = new pv.Panel()
          .width(w)
          .height(h)
          .fillStyle('#fff')
          .event("mousedown", pv.Behavior.pan())
          .event("mousewheel", pv.Behavior.zoom())
        .add(pv.Layout.Contours)
          .nodes(data2)
          .levels(zs)
        .contour.add(pv.Panel).add(pv.Line)
          .data(function(d) d)
          .left(function(d) x(d.x))
          .bottom(function(d) y(d.y))
          .fillStyle(function() colours(this.parent.data()).alpha(0.2))
          //.strokeStyle(null)
      vis.render();
    </script>
  </body>
</html>
