<html>
  <head>
    <title>Contours Layout</title>
    <script type="text/javascript" src="../../protovis-d3.2.js"></script>
  </head>
  <body>
    <script type="text/javascript+protovis">

var xs = pv.range(-1, 1, 1/10);
var ys = pv.range(-1, 1, 1/10);
var color = pv.Colors.category19().by(function(d) d.k)
var x = y = pv.Scale.linear(xs).range(0, 800);
var data = [];
pv.map(xs, function(x) {
  data.push.apply(data, pv.map(ys, function(y) {
    var v = new Vertex(x, y);
    v.z = Math.cos(x) * Math.cos(y);
    return v;
  }));
});

var vis = new pv.Panel()
    .width(800)
    .height(800)
    .margin(10)
    .fillStyle("#eee")
//    .strokeStyle("#ccc");

vis.add(pv.Layout.Contours)
    .grid(data)
    .levels(pv.range(-1, 1, 1/20))
  .contour.add(pv.Panel).add(pv.Line)
    .data(function(d) d)
    .left(function(d) x(d.x))
    .bottom(function(d) y(d.y))
    .fillStyle(function() color(this.parent.data()).alpha(0.2))
    .strokeStyle('black')

vis.render();

    </script>
  </body>
</html>
